/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Playfair+Display|Raleway');
h1, button {
font-family: 'Raleway', sans-serif;
}
rte{
    font-family: 'Indie Flower', cursive;
}
label{


font-family: 'Playfair Display', serif;
}