:host() {
    position: absolute;
    border: 1px solid black;
    min-width: 70px;
    background:linear-gradient(#ffe46d, #eaea38);
    transition: all .2s ease-out;
    padding: 3px;
}

article{
    overflow: hidden;
    height: 0;
    transition: all .5s ease-out;
}
input[type="checkbox"] {
    display: none;    
}
input[type="checkbox"]:checked + article {
    overflow: hidden; 
    height: auto;
}

label{
    display: block
}

